*{
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgb(109, 174, 219);
    text-align: center;
    color: #173753;
    padding-top: 3vmin;
}
h2{
    padding-right:5vmin;
    font-size: xx-large;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game
{
    height: 60vmin;
    width:  60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 10vmin;
    color: 1b4353;
    background-color: #2892d7 ;
    color: #1b4353;
}
#reset-btn
{
    background-color:#173753;
    font-size: 2vmin;
    font-weight: 549;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
   margin-left: 1rem;
    margin-top: 1rem;
}
#new-btn
{
    background-color:#173753;
    font-size: 2vmin;
    font-weight: 549;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    margin-top: 1rem;
}
#msg
{
    font-size: xx-large;
}

.hide{
    display: none;
}
